<header>
    <div class="logo">
        <a href="/" ><img alt="Mark Smith | Developer" src="/assets/MyLogo.png" /></a>
    </div>

    <div class="main-nav">
        <ul>
            <li><a  href="/">Home</a></li>
            <li><a (click)="onClick('about')">About me</a></li>
            <li><a (click)="onClick('work')">My work</a></li>
            <li><a (click)="onClick('skills')">My skills</a></li>
            <li><a (click)="onClick('contact')">Get in touch</a></li>
        </ul>
    </div>
</header>

<div class="back">
    <a (click)="onClick('home')">^</a>
</div>