.full-hero{
    background-image: url('/assets/hero-image.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.full-hero::before{
    content: ' ';
    position: absolute;
    height: 100%; width: 100%;
    top: 0; left: 0;
    background-color:  rgba(0, 0, 0, 0.5);
}

.hero-content{
    position: absolute;
    top: 50%; left: 25%;
    transform: translate(-50%, -25%);
    color: white;
}

